* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    padding: 20px;
    text-align: center;
}

.content{
    flex-grow: 1;
    border: 1px solid #000;
    display: flex;
}

.main {
    border: 2px solid red;
    flex-grow: 1;
}

.sidebar {
    width: 20%;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2em 20px;
}

.sidebar  > div {
    border: 2px solid black;
    padding: 10px   ;
}
.main {
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
}

.projectsSec {
    flex-grow: 1;
}

.projectsSec ul {
    padding-left: 20px;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #000;
    padding: 10px;
}

.todoForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input[type=text], textarea{
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonContainer {
    display: flex;
    width: 100%;
    gap: 20px;
}

button {
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-grow: 1;
}

button.cancel {
    background-color: red;
}

button.submit {
    background-color: greenyellow;
}

.details-title {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.todo-details {
    margin-top: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
    display: none;
    
}

.title {
    font-weight: bold;
}

.detailsOfToDo {
    display: grid;
    grid-template-columns: 50% 50%;
}

.detailsOfToDo > * {
    padding-bottom: 10px
}

